      .indexHeader{
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgb(36, 41, 47);
        color: white;
        text-shadow: 0px 0px 1px #ffffff;
        box-shadow: 0px 0px 1px 2px #383636;
        position: fixed;
        top: 0;
        left: 0;
        font-size: 18px;
        .headerSearch{
            width: 40%;
            min-width: 700px;
            display: flex;
            align-items: center;
            overflow: hidden;
            padding-left: 30px;
            .menuTable{
                margin-left: 30px;
            }
            .searchInput{
                width: 250px;
                height: 30px;
                margin-left: 20px;   
                margin-right: 0;   
                border-radius: 6px;  
            }
            .searchButton{
                height: 25px;
                border: none;
                background: #ffffff;
                transform: translateX(-28px);
            }
        }
        .headerSetting{
            width: 20%;
            min-width: 150px;
            display: flex;
            justify-content: flex-end;
            padding-right: 25px;
            .loginButton{
                color: #ffffff;
                background: transparent;
                border: none;
                // font-size: 18px;
            }
            .messageButton{
                border: none;
                background: transparent;
            }
            .messageButton :hover{
                background-color: red;
            }
        }
    }