.homeContainer{
    width: 1620px;
    height: 100vh;
    padding-top: 10px;
    align-self: center;
    display: flex;
    margin-top: 60px;
    .containerLeft{
        height: 800px;
        width: 300px;
        background-color: #ffffff;
        box-shadow: 1px 1px 1px #ffffff;
    }
    .containerMiddle{
        min-height: 1900px;
        width: 1000px;
        margin: 0 10px;
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: 1px 1px 1px #ffffff;
    }
    .containerRight{
        height: 800px;
        width: 300px;
        background-color: #ffffff;
        box-shadow: 1px 1px 1px #ffffff;
    }
}