.login{
    width: 100%;
    height: 100vh;
    background-color:#f0faff ;
    position: relative;
    .loginLeft{
        width: 100%;

    }
    .loginRight{
        box-shadow: 0px 1px 2px 2px #7a7a7a;
        width: 400px;
        height: 500px;
        right: 20%;
        top: 10%;
        position: absolute;
        transform: translate(-10%,10%);
        border-radius: 15px;
        padding: 35px;
        display: flex;
        flex-direction: column;
        background-color: #ffffff ;
        .rightLine{
            display: inline-block;
            background-color: #7a7a7a;
            width: 100%;
            height: 2px;
        }
        .rightInput{
            width: 100%;
            height: 40px;
            border-radius: 5px;
            padding-left: 10px;
            margin-bottom: 15px;
            border: 1px double #83048f;
        }
        .rightButton{
            background-color: rgba($color: #0bb2cf, $alpha: 0.5);
            width: 100%;
            height: 40px;
            border-radius: 5px;
            border: none;
            margin: 25px 0;
            font-size: 18px;
            color: #ffffff;
        }
    }
}